/*
* Estilo para párrafos del documento
*/

p{
	font-family: Verdana;
	font-size: x-small;
	margin-left: 0.6in;
	margin-right: 0.6in;
 }

h1{
	color: green;
	font-size: 40pt
 }

h2,h3{
	font-size: 16pt;
	color: blue;
}



